
<div style="padding-bottom: 0.5cm">
    <div class="card text-center bg-light">
        <div class="card-body">
            <input class="card-title form-control" type="text" id="input" name="input" placeholder="{{ include.placeholder }}"/>
            <button class="card-text btn btn-outline-primary" id="btn">Find Entities</button>
        </div>
        <div class="card-footer bg-white">
            <pre class="card-text api-pre" style="padding-bottom: 0.2cm">
                <div class="item" id="api_input"> {{ include.default_input }} </div>
                <div class="item" id="api_output"> {{ include.default_output }} </div>
            </pre>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(() => {
    $('#btn').click(() => {
        // get the input data
        var input = $("#input").val();

        $.ajax({
            url: "{{ include.url }}",
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(input),
            success: function( data, textStatus, jQxhr ){
                // fill the html for answer
                $('#api_input').html( data.input );
                $('#api_output').html( data.output );

                input = "";
                $("#input").val("");
            },
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
            }
        });
    });
});

</script>
